<h1>To get to Thebes, you need to answer these riddles</h1>
<form action="/riddle" method="post">
  <input type="text" style="display:none;" name="riddle_id" value="-1">
  <input type="text" style="display:none;" name="question_answer" value="">
  <button type="submit">Try to answer riddles</button>
</form>
