<h1>Create a new Tamagotchi</h1>
<form action="create_tamagotchi" method="post">
  <label for="name" id="name">Tamagotchi Name</label>
  <input type="text" name="name" id="name">
  <button type="submit">Submit</button>
</form>
