<h1> Enter package info here </h1>
<form action="/parcel" method="post">
  <label for="package_length">Package Length</label>
  <input id="package_length" name="package_length" type="number">
  <br>
  <label for="package_width">Package Width</label>
  <input id="package_width" name="package_width" type="number">
  <br>
  <label for="package_height">Package Height</label>
  <input id="package_height" name="package_height" type="number">
  <br>
  <label for="package_weight">Package Weight</label>
  <input id="package_weight" name="package_weight" type="number">
  <br>
  <button type="submit">Submit</button>
</form>
