<h1>Create A Stage</h1>
<form action="/create_stage" method="post">
  <label for="stage_name">Stage Name</label>
  <input id="stage_name" name="stage_name">
  <button type="submit">Submit</button>
</form>
