<h1>Woodland Mist Festival</h1>

<h2>Stages</h2>
<a href='/create_stage'>Add a new stage</a>
<% if !@stage_list.empty? %>
  <ul>
    <% @stage_list.each do |stage_name| %>
      <li><a href="stage/<%= stage_name.id %>"><%= stage_name.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no stages.</p>
<% end %>

<h2>Artists</h2>
<a href='/artist/create'>Add a new artist</a>
<% if !@artist_list.empty? %>
  <ul>
    <% @artist_list.each do |artist| %>
      <a href="artist/<%= artist.id %>"><li><%= artist.name %></li></a>
    <% end %>
  </ul>
<% else %>
  <p>There are no artists.</p>
<% end %>
