<h1> Enter Triangle Lengths </h1>
<form action="/triangle" method="get">
  <div>
    <label for="side_a">Length of side a</label>
    <input id="a" name="side_a" type="number">
    <br>
    <label for="side_b">Length of side b</label>
    <input id="b" name="side_b" type="number">
    <br>
    <label for="side_c">Length of side c</label>
    <input id="c" name="side_c" type="number">
    <br>
    <button type="submit" class="btn">Submit</button>
  </div>
</form>
