<h1> Result </h1>
<% if @triangle_type != 'not a triangle'%>
<%= "This is a #{@triangle_type} triangle" %>
<% else %>
<%= "This is not a valid triangle" %>
<% end %>

<br>

<a href="/"> Back to home </a>
