<h1>Create Room</h1>
<form action="/editor/room/create" method="post">
  <label for="room_name">Room Name</label>
  <input id="room_name" name="room_name" type="text">
  <% [['Starting Room', 'start'], ['Ending Room', 'end'], ['Neither', 'neither']].each do |room_type| %>
  <br>
  <input type="radio" id="<%= room_type[1] %>" name="room_type" value="<%= room_type[1] %>">
  <label for="<%= room_type[1] %>"><%= room_type[0] %></label>
  <% end %>
  <br>
  <button type="submit">Submit</button>
</form>
