<h1>Editor Menu</h1>
<a href='/editor/item'>Items</a>
<br>
<a href='/editor/obstacle'>Obstacles</a>
<br>
<a href='/editor/path'>Paths</a>
<br>
<a href='/editor/room'>Rooms</a>
<br>
<a href='/editor/reset'>Reset Maze to Default</a>
<br>
<a href='/'>Main Menu</a>
