<h1>Maze Game</h1>
<!-- Starts a game with the default maze-->
<a href="/game/startup/default">Start game with default maze</a>

<!-- Add option for starting game with custom maze if time permits -->
<a href="/game/startup/current">Start game with current maze</a>
